.body {
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(228, 228, 231);
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-left-color: rgb(228, 228, 231);
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: rgb(228, 228, 231);
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: rgb(228, 228, 231);
  border-top-style: solid;
  border-top-width: 0px;
  box-sizing: border-box;
  display: block;
  font-family: 'Plus Jakarta Sans', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  height: 7088.94px;
  line-height: 24px;
  min-height: 357px;
  tab-size: 4;
  text-size-adjust: 100%;
  width: 1349px;
}

.outercontainer {
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(244, 244, 245);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(244, 244, 245);
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: rgb(244, 244, 245);
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: rgb(244, 244, 245);
  border-top-style: solid;
  border-top-width: 0px;
  box-sizing: border-box;
  display: block;
  font-family: 'Plus Jakarta Sans', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  line-height: 24px;
  padding-left: 32px;
  padding-right: 32px;
  position: fixed;
  tab-size: 4;
  text-size-adjust: 100%;
  width: 1349px;
  z-index: 30;
}

.innercontainer {
  align-content: center;
  align-items: center;
  border-bottom-color: rgb(228, 228, 231);
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-left-color: rgb(228, 228, 231);
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: rgb(228, 228, 231);
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: rgb(228, 228, 231);
  border-top-style: solid;
  border-top-width: 0px;
  box-sizing: border-box;
  display: flex;
  font-family: 'Plus Jakarta Sans', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  height: 60px;
  justify-content: space-between;
  line-height: 24px;
  tab-size: 4;
  text-size-adjust: 100%;
  width: 1285px;
}

.navigationBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;

  .leftPartNavigationBar {
    border-bottom-color: rgb(228, 228, 231);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(228, 228, 231);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(228, 228, 231);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(228, 228, 231);
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    display: flex;
    font-family: 'Plus Jakarta Sans', ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
    height: 60px;
    line-height: 24px;
    tab-size: 4;
    text-size-adjust: 100%;
    width: 832.531px;
  }

  .rightPartNavigationBar {
    align-items: center;
    border-bottom-color: rgb(228, 228, 231);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(228, 228, 231);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(228, 228, 231);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(228, 228, 231);
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    display: flex;
    font-family: 'Plus Jakarta Sans', ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
    height: 58px;
    justify-content: flex-end;
    line-height: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    tab-size: 4;
    width: 174.328px;
  }

  ul {
    list-style: none;
    display: flex;
    align-content: center;
    border-bottom-color: rgb(228, 228, 231);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(228, 228, 231);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(228, 228, 231);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(228, 228, 231);
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 14px;
    height: 60px;
    justify-content: flex-start;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 16px;
    margin-left: 16px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 12px;
    padding-inline-start: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 12px;
    tab-size: 4;
    width: 648.531px;

    li {
      border-bottom-color: rgb(228, 228, 231);
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-bottom-style: solid;
      border-bottom-width: 0px;
      border-left-color: rgb(228, 228, 231);
      border-left-style: solid;
      border-left-width: 0px;
      border-right-color: rgb(228, 228, 231);
      border-right-style: solid;
      border-right-width: 0px;
      border-top-color: rgb(228, 228, 231);
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      border-top-style: solid;
      border-top-width: 0px;
      box-sizing: border-box;
      color: rgb(63, 63, 70);
      display: list-item;
      font-family: 'Plus Jakarta Sans', ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
      font-size: 14px;
      height: 36px;
      line-height: 20px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      position: relative;
      tab-size: 4;
      text-align: left;
      text-size-adjust: 100%;
      transition-duration: 0.3s;
      transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform, filter, backdrop-filter,
        -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      width: 109.719px;
    }
  }
}
